<!DOCTYPE html>
<!-- vim: set sw=2 ts=2 et: -->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="{{Filename "/css/index.css"}}" rel="stylesheet" />

    <title>Greetings stranger!</title>
  </head>
  <body>
    Greetings, {{.Pid}} here

    <script src="{{Filename "/js/index.js"}}"></script>
  </body>
</html>
